header{
    width:100%;
    background:#2563eb;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.navbar{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
}

.logo{
    color:#fff;
    font-size:1.6rem;
    font-weight:700;
}

.logo i{
    margin-right:8px;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:30px;
}

.navbar ul li a{
    color:#fff;
    text-decoration:none;
    transition:.3s;
    font-weight:500;
}

.navbar ul li a:hover{
    color:#ffd54f;
}